html,body{
    height:100%;
}
body
{
    background-image: url("https://images.hdqwalls.com/download/landscape-sky-beautiful-3840x2160.jpg");

    background-position: center center; /* Background image is centered vertically and horizontally at all times */
    background-repeat: no-repeat;  /* Background image doesn't tile */
    background-attachment: fixed;/* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
    background-size: cover;/* This is what makes the background image rescale based on the container's size */
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.9;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidebar a:hover {
    color: #f1f1f1;
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left 0.7;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
